.jumbotron{
	color: white;
	background-color: lightblue;
	margin-top: 50px;
}

.btn {
	background-color: lightblue;
	margin-top: 2px;
	margin-bottom: 2px;
	color: gray;
}

.card-hotel{
	flex: 1 250px; /* Establece cuan responsive es la tarjeta */
	padding: 5px 5px 5px 5px; /* Establece la distancia que tendra la tarjeta del borde */
	margin-top: 10px; /* Margen en la parte de arriba */
	margin-bottom: 10px;
}