.jumbotron {
  color: white;
  background-color: #00bfff;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn {
  color: white;
  background-color: #00bfff;
  margin-top: 2px;
  margin-bottom: 2px; }

.card-hotel {
  /* Establece cuan responsive es la tarjeta */
  flex: 1 250px;
  /* Establece la distancia que tendra la tarjeta del borde */
  padding: 5px 5px 5px 5px;
  margin-top: 10px;
  margin-bottom: 10px; }
