$blue: #00bfff;
$green:#1bcc00;
$yellow: #f7ff0d;
$red: #eb4034;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin relleno($top, $bottom, $right, $left){
	padding: $top $bottom $right $left;
}

@mixin colors($text, $background){
	color: $text;
	background-color: $background;
}

.jumbotron{
	@include colors(white, $blue);
	@include margenes(50px, 0px);
}

.btn {
	@include colors(white, $blue);
	@include margenes(2px, 2px);
}

.card-hotel{
	/* Establece cuan responsive es la tarjeta */
	flex: 1 250px; 

	/* Establece la distancia que tendra la tarjeta del borde */
	@include relleno(5px, 5px, 5px, 5px);
	@include margenes(10px, 10px);
}